<!DOCTYPE html>
<html>
<head>
  <link 
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <style>
    nav.navbar.navbar-dark {
        background-color: #800000;}
    .form-control:focus {
        border-color: #800000;
        box-shadow: none;}
    button.btn.btn-primary {
		background-color: #800000;}
  </style>
</head>

<body>
  <nav class="navbar navbar-dark">
    <span class="navbar-brand mb-0 h1">PriceCollectr</span>
  </nav>
  <div class="container">
    <h2>Price Entry Form</h2>
    <form method="post">
    {% csrf_token %}
      <div class="form-group row">
        <label
            class="col-sm-2 col-form-label"
			for="product_id">
            Product ID
        </label>
        <div class="col-sm-10">
          <input 
              class="form-control" 
              name="product_id" 
              placeholder="Product ID">
        </div>
      </div>
      <div class="form-group row">
        <label
            for="name" 
            class="col-sm-2 col-form-label">
            Product Name
        </label>
        <div class="col-sm-10">
          <input 
              class="form-control" 
              name="name" 
              placeholder="Product Name">
        </div>
      </div>
      <div class="form-group row">
        <label
            for="price_and_unit" 
            class="col-sm-2 col-form-label">
            Price & Unit
        </label>
        <div class="col-sm-7">
          <input 
              class="form-control" 
              name="price" 
              placeholder="Price">
        </div>
        <div class="col-sm-3">
          <input 
              class="form-control" 
              name="unit" 
              placeholder="Unit">
        </div>
      </div>
      <div class="form-group row">
        <label
            for="store" 
            class="col-sm-2 col-form-label">
            Store
        </label>
        <div class="col-sm-10">
          <input 
              class="form-control" 
              name="store" 
              placeholder="Store">
        </div>
      </div>
      <div class="form-group row">
        <label
            for="location" 
            class="col-sm-2 col-form-label">
            Location
        </label>
        <div class="col-sm-10">
          <input 
              class="form-control" 
              name="location" 
              placeholder="Location">
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% if messages %}
    {% for message in messages %}
        <span class="success">{{ message }}</span>
    {% endfor %}
  {% endif %}
</body>
</html>
